my-app/target/my-app-1.0-SNAPSHOT.jar
my-app/target/test-classes/com/mycompany/app/AppTest.class
my-app/target/surefire-reports/com.mycompany.app.AppTest.txt
my-app/target/surefire-reports/TEST-com.mycompany.app.AppTest.xml